.dem {
	text-align: center;
	outline: none;
	border: none;
	background: none;
	color: white;
}

#title {
	font-size: calc(var(--construct-scale) * 3.2em);
	font-family: serif;
}

#subtitle {
	font-size: calc(var(--construct-scale) * 1.5em);
	font-family: sans-serif;
}